body {
  background-color: #8b9eb7;
  font-size: 18px;
}

footer {
  border-top:3px solid #01060b;
  text-align: center;
  background-color: #313b72;
}

.search-result-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 1.5rem;
  background-color: #313b72;
  border: 5px solid black;
  border-radius: 10px;
  width: 75vh;
  height: fit-content;
  padding: 3%;
}

.save-btn {
  font-size: 1rem;
  background-color: #f3de8a;
  border-radius: 5px;
}

.searchBtnContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.search-btn-small {
  padding: 0.3rem 0.5rem;
  font-size: 0.5rem;
}

.card-title {
  font-family: Montserrat;
  color: #8b9eb7;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: double ;
}

.ui-state-default {
  border: double;
}

.card-content-white-text {
  background-color: #000308;
}

.card-blue-grey-darken-1 {
  background-color: #01060b;
}

.materialize-textarea {
  color: white;
}

#textarea-container {
  display: none;
}

#List {
  background-color: #8b9eb7;
  height: auto;
  width: 100%;
}

#Card {
  height: 40%;
  width: 100%;
}

#card {
  background-color: #313b72;
}

#movie-poster {
  width: 25%;
  height: auto;
}

#Search {
  display: flex;
  flex-direction: column;
  background-color: #26a69a;
  height: 100%;
  border-right: 2px solid #000308;
}

#movie-watchlist {
  padding: 50px;
  text-align: center;
  background: black;
  color: #8b9eb7;
  font-size: 50px;
  font-family: Montserrat;
  margin-top: 0%;
  margin-bottom: 0;
  border-bottom: 5px double #8b9eb7;
}

#searchby {
  font-family: Montserrat;
  color: #8b9eb7;
  font-size: 1.2rem;
}

#movielist {
  font-family: Montserrat;
  color: rgb(11, 10, 10);
  font-weight: 100%;
  font-size: 2.4rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: double;
  border-color: black;
}

#search-results-h3 {
  border-bottom: double;
  border-color: black;
  font-family: Montserrat;
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3%;
}

#sortable {
  font-family: Montserrat;
  font-size: 1.5rem;
  border: double;
  cursor: pointer;
}

#movie-title-search-btn {
  background-color: #313b72;
  color: #fafafb;
}

#title-search-btn-small {
  color: black;
  background-color: #26a69a;
  font-family: Montserrat;
}

#actor-search-btn-small {
  color: black;
  font-family: Montserrat;
}

#genre-search-btn-small {
  color: #000308;
  font-family: Montserrat;
}

#year-search-btn-small {
  color: #000308;
  font-family: Montserrat;
}

#textLabel.active {
  font-family: Montserrat;
  font-size: 1.1rem;
}

.delete-btn {
  font-family: Montserrat;
  background-color: #313b72;
  color: #f6faf6;
}

#movie-title.search-result-li {
  font-family: Montserrat;
  font-weight: 1.5rem;
}

.save-btn {
  font-family: Montserrat;
  font-size: 1.2rem;
  cursor: pointer;
}


.search-result-p{
  font-family: Montserrat;
  font: bolder;
  border-bottom: double;
  padding: 5px;
  font-size: 1.5rem;
}

.facts-list-item{
  font-family: Montserrat;
  font: bolder;
  border: double;
  padding: 5px;
  margin: 20px;
  font-size: 1.5rem;
  justify-content: start;
  background-color: #26a69a;
}

#title-info{
  font-family: Montserrat;
  font: bold;
  font-size: 3rem;
}

#actor-info{
  font-family: Montserrat;
  font: bolder;
}

.search-results-li{
  font-family: Montserrat;
  font-size: 1.5rem;
  font: bolder;
  border: double;
  padding: 5px;
  margin: 20px;
  cursor: pointer;
  background-color: #26a69a;
}

.search-results-li:hover {
  background-color: #313b72;
}

#TMDB {
    width:5%;
}

#disclaimer {
    font-size: 12px;
    padding: 10px;
}

#main-content {
  margin: 0%;
}

